*{
    margin: 0;
    padding: 0;
    font-family: "Epilogue", sans-serif;
    box-sizing: border-box;
}
:root{
    /* Colors */
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);

    /* Font */
    --paragraph-font: 18px;

    /* Responsive */
    --Mobile: 375px;
    --Desktop: 1440px;

    /* Font weights */
    --Weight-light: 500;
    --Weight-dark: 700;

    /* padding */
    --padding-small: 20px;
    --padding-medium: 40px;
    --padding-large: 150px;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--Medium-Gray);
    padding-bottom: 80px;
}
header{
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small) var(--padding-medium);
    gap: 50px;
}
header .links{
    display: flex;
    position: absolute;
    left: 180px;
    gap: 30px;
}
.links li{
    padding: 10px 0;
    position: relative;
    list-style: none;
}
.links li img{
    transition: .5s;
}
.links li:hover > img{
    transform: rotateZ(-180deg);
}
.drop-menu{
    position: absolute;
    top: 30px;
    left: -50px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    background: var(--Almost-White);
    border-radius: 10px;
    transition: display .5s;
}
.drop-menu a{
    display: flex;
    gap: 20px;
    font-size: 14px;
}
.links li:hover > .drop-menu{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: var(--Medium-Gray);
}
a:hover{
    color: var(--Almost-Black);
}
.btns button{
    padding: 10px 20px;
    color: var(--Medium-Gray);
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid var(--Medium-Gray);
    background: transparent;
}
.btns button:hover{
    cursor: pointer;
    border: 2px solid var(--Almost-Black);
    color: var(--Almost-Black);
}
.btns button:first-child{
    background: none;
    border: none;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 50px 120px 0 120px;
    gap: 50px;
}
.content1, .content2{
    display: flex;
    height: 600px;
}
.content1{
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}
.content1 .intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px 0;
    margin-top: 60px;
    padding-inline-end: 60px;
}
.intro button{
    cursor: pointer;
    width: fit-content;
    padding: 15px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: var(--paragraph-font);
    font-weight: 500;
    background: var(--Almost-Black);
    color: var(--Almost-White);
}
.intro button:hover{
    background: transparent;
    color: var(--Almost-Black);
    font-weight: 600;
}
.content1 .client-logo{
    width: clamp(50%, 100%, 80%);
    display: flex;
    justify-content: space-between;
}
.client-logo img{
    height: clamp(10px, 100%, 20px)
}
p{
    font-size: 18px;
    width: clamp(50%, 100%, 80%);
    line-height: 30px;
    font-weight: 500;
    color: var(--Medium-Gray);
}
h1{
    font-size: 80px;
    color: var(--Almost-Black);
}
.mobile{
    display: none;
}
.menu-icon{
    cursor: pointer;
}
li{
    cursor: pointer;
    text-decoration: none;
    color: var(--Medium-Gray);
}
li:hover{
    color: var(--Almost-Black);
}

.sidebar{
    position: fixed;
    display: flex;
    justify-content: right;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.sidebar > div{
    background: var(--Almost-White);
    width: 60%;
    height: 100%;
}
.s-bar-links{
    margin-top: 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar .btns{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 20px;
}
.sidebar .btns button:last-child{
    border: 1px solid var(--Medium-Gray);
}
.close{
    position: absolute;
    left: 90%;
    top: 20px;
}
.menu-icon{
    display: none;
}
.s-drop-menu{
    display: grid;
    margin-left: 15px;
    margin-top: 15px;
    gap: 15px;
}
.s-drop-menu a{
    display: flex;
    gap: 10px;
}
.hidden{
    display: none;
}
@media (max-width: 1000px){
    main{
        display: grid;
        grid-row: 1fr 1fr;
        grid-template-areas: "1", "2";
        padding: 0;
    }

    .content1{
        grid-area: 2;
        height: auto;
        gap: 50px;
        justify-content: center;
        width: 93%;
        padding: 0;
    }
    .content1 .intro{
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        margin-top: 0px;
    }
    .intro h1{
        font-size: 30px;
    }
    .intro p{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .intro button{
        font-size: 16px;
    }
    .content2{
        grid-area: 1;
        height: auto;
        width: 93%;
        position: relative;
        margin-top: 20px;
    }
    .mobile{
        display: flex;
        width: 100%;
    }
    .desktop{
        display: none;
    }
    header .links, header .btns, header .link{
        display: none;
    }
    header{
        padding: 20px;
        gap: 0;
        width: 100%;
    }
    .content1 .client-logo{
        padding: 0 10px;
        width: 100%;
    }
    
    .menu-icon{
        display: block;
    }
}